
<nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movies</a>
    </div>

  </div>
</nav>

<h2>Edit Movie</h2>

<form action="/update_movie/<%= @movie.id %>">
  <input type="text" name="title" placeholder="title" value="<%= @movie.title %>">
  <input type="text" name="url" placeholder="url" value="<%= @movie.url %>">
  <input type="submit">
</form>