
<nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movies</a>
    </div>

  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Movies</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="http://worldofcactus.files.wordpress.com/2012/12/being-john-malkovich-front.jpg" alt="Being John Malkovitch">
        </a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="http://www.tammileetips.com/wp-content/uploads/2013/09/Disney-Frozen-Movie-Poster.png" alt="Frozen">
        </a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="https://consequenceofsound.files.wordpress.com/2014/07/snowpiercer-poster.jpg" alt="Snowpiercer">
        </a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="http://blog.bluzog.com/wp-content/uploads/sites/5/2013/07/Dog-Day-Afternoon.jpg" alt="Dog Day Afternoon">
        </a>
      </div>
    </div>
  </div>