
<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset2">
        <h1>Users:</h1>
        <ul>
          <li>
            Albert Einstein - 
            <a href="/userpage/1">show</a> |
            <a href="/userpage/1/edit">edit</a> |
            <a href="/userpage/1/destroy">destroy</a> 
          </li>
          <li>
            Archimedes -
            <a href="/userpage/2">show</a> |
            <a href="/userpage/2/edit">edit</a> |
            <a href="/userpage/2/destroy">destroy</a> 
          </li>
          
          <li>
            Sir Isaac Newton -
            <a href="/userpage/3">show</a> |
            <a href="/userpage/3/edit">edit</a> |
            <a href="/userpage/3/destroy">destroy</a> 
          </li>
        </ul>
      </div>
    </div>
  </div>