<h2>New Userpage</h2>

<form action="/create_userpage">
  <input type="text" name="pageheader" placeholder="pageheader">
  <input type="text" name="url" placeholder="url">
  <input type="submit">
</form>