<!-- <div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/02/Tokyo_Tower_looking_up.jpg" alt="...">
      <div class="caption">
        <h3>Tokyo Tower</h3>
        <p>It's a must. Plus it's taller than the Eiffel Tower.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://i.cdn.travel.cnn.com/sites/default/files/styles/200x200/public/2012/12/11/preview-fish-market.jpg?itok=v8MqyT2O" alt="...">
      <div class="caption">
        <h3>Tsukiji Market</h3>
        <p>2000 tonnes of seafood traded every day.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://www.japan-map-notebook.com/images/%E3%82%B9%E3%82%AB%E3%82%A4%E3%83%84%E3%83%AA%E3%83%BC.jpg" alt="...">
      <div class="caption">
        <h3>Tokyo Sky Tree</h3>
        <p>Another must. World's tallest 'free-standing tower' at 634 meters.</p>
      </div>
    </a>
  </div>
  
<!--   <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <img src="http://envie2partir.fr/wp-content/themes/striking/cache/images/200x200xSenso-ji03-200x200.jpg.pagespeed.ic.UFo_FJgnrM.jpg" alt="...">
      <div class="caption">
        <h3>Sensō-ji</h3>
        <p>Most visited temple in Tokyo.</p>
      </div>
    </a>
  </div> -->
</div> -->

<div class="container">
<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://c1.staticflickr.com/3/2644/5801040827_0270274b9b_b.jpg" alt="...">
      <div class="caption">
        <h3>Maisen（まい線）</h3>
        <p>Famous for their tonkatsu.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://image1-4.tabelog.k-img.com/restaurant/images/Rvw/14249/200x200_square_14249299.jpg" alt="...">
      <div class="caption">
        <h3>Sushiro（スシロー）</h3>
        <p>Cheap and delicious.</p>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://rokurinsha.com/img/top_img01.jpg" alt="...">
      <div class="caption">
        <h3>Rokurinsha （六厘舎）</h3>
        <p>Authentic Japanese tsukemen (noodles).</p>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://uncoverjapan.files.wordpress.com/2013/05/dsc07353.jpg?w=610" alt="...">
      <div class="caption">
        <h3>Kobe Beef Kaiseki 511（神戸牛懐石511）</h3>
        <p>A little on the expensive side, but great Kobe beef.</p>
      </div>
    </a>
  </div>

<div class="container">
<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c6/56/47/sakuratei.jpg" alt="...">
      <div class="caption">
        <h3>Sakuratei （さくら亭）</h3>
        <p>Japanese savoury pancakes that contain a variety of ingridients. The word 'okonomiyaki' translates to 'grilled as you like it.'</p>
      </div>
    </a>
  </div>
  
   <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://2.bp.blogspot.com/-V4T-HrbRN1w/UUvSIVNX_jI/AAAAAAAAJXA/Md8YMYiQWKA/s1600/7-eleven+onigiri.JPG" alt="...">
      <div class="caption">
        <h3>Onigiri at 7-11</h3>
        <p>In Tokyo, onigiris from convenience stores are a thing. 7-11 has the best.</p>
      </div>
    </a>
  </div>

</div>