<!-- <div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/02/Tokyo_Tower_looking_up.jpg" alt="...">
      <div class="caption">
        <h3>Tokyo Tower</h3>
        <p>It's a must. Plus it's taller than the Eiffel Tower.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://i.cdn.travel.cnn.com/sites/default/files/styles/200x200/public/2012/12/11/preview-fish-market.jpg?itok=v8MqyT2O" alt="...">
      <div class="caption">
        <h3>Tsukiji Market</h3>
        <p>2000 tonnes of seafood traded every day.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://www.japan-map-notebook.com/images/%E3%82%B9%E3%82%AB%E3%82%A4%E3%83%84%E3%83%AA%E3%83%BC.jpg" alt="...">
      <div class="caption">
        <h3>Tokyo Sky Tree</h3>
        <p>Another must. World's tallest 'free-standing tower' at 634 meters.</p>
      </div>
    </a>
  </div>
  
<!--   <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <img src="http://envie2partir.fr/wp-content/themes/striking/cache/images/200x200xSenso-ji03-200x200.jpg.pagespeed.ic.UFo_FJgnrM.jpg" alt="...">
      <div class="caption">
        <h3>Sensō-ji</h3>
        <p>Most visited temple in Tokyo.</p>
      </div>
    </a>
  </div> -->
</div> -->

<div class="container">
<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://feross.org/images/mt-fuji-view.jpg" alt="...">
      <div class="caption">
        <h3>Mt. Fuji</h3>
        <p>Highest mountain in Japan. Go see it; it's breathtaking. If you have time (and the guts), climb it. It's better from up there.</p>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.asahi-koutsuu.jp/photo/sumo/sumo7.jpg" alt="...">
      <div class="caption">
        <h3>Sumo Tournament</h3>
        <p>Don't miss the opportunity to see a traditional sumo tournament.</p>
      </div>
    </a>
  </div>
  
<div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.conormasterson.com/v2/i/work/eastern_cities/04_Shibuya_Crossing_Crowd.jpg" alt="...">
      <div class="caption">
        <h3>Shibuya Crossing</h3>
        <p>You're missing out if you haven't taken a walk across the famous intersection in front of Shibuya Station.</p>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Tokyo_Disneyland_Entrance_(9407118539).jpg" alt="...">
      <div class="caption">
        <h3>Tokyo Disneyland</h3>
        <p>There are only 4 Disneylands in the world and Tokyo is one of them. It's also the best one (I may be biased.)</p>
      </div>
    </a>
  </div>
  
<div class="container">
<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.compasswhistle.com/wp-content/uploads/2013/06/karaoke_3707-1030x1545.jpg" alt="...">
      <div class="caption">
        <h3>Karaoke-kan</h3>
        <p>Go sing your heart out.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/02/Tokyo_Tower_looking_up.jpg" alt="...">
      <div class="caption">
        <h3>Tokyo Tower</h3>
        <p>It's a must. Plus it's taller than the Eiffel Tower.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://lh3.googleusercontent.com/-M-4znFpuSmk/VD-CnmYk7BI/AAAAAAAAAGU/L0Y39wLAQDM/s250-c-k-no/" alt="...">
      <div class="caption">
        <h3>Ueno Zoo</h3>
        <p>It's all about the pandas.</p>
      </div>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.edmondtravel.com/www/play/photos/686/Tokyo_Dome_City.jpg" alt="...">
      <div class="caption">
        <h3>Tokyo Dome City</h3>
        <p>Whether it's watching a baseball game, going on rides, or just walking around, you are guaranteed to have a good time.</p>
      </div>
    </a>
  </div>
  
</div>