
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ideas</h1>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
      </div>
      <a href="/ideas/<%= @idea.id %>/edit">edit</a>
      <a href="/ideas/<%= @idea.id %>/destroy">delete</a>
    </div>
  </div>
</div>