/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#link-buttons
{
  margin-top:10px;
  width:600px;
}
#new
{
  margin-left:200px;
}
#header1
{
  margin-top:40px;
}
#row2
{
  margin-top:10px;
}
#index-list
{
  margin-top:10px;
}
#user-input
{
  display:block;
  width:700px;
  margin:0;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.text
{
  font-size: 32px;
  display:inline;
}
.links-top
{
  font-size: 21px;
  display:inline;
}
.links-bottom
{
  font-size: 14px;
}
.edit-scientist
{
  margin: 20px 0px;
}
.form-control
{
  margin: 0px -30px;
}
.form-control-submit
{
  margin-left: 110px;
  margin-top: 20px;
}
.btn.btn-primary
{
  margin-left:0px;
  margin-top:10px;
}
.btn.btn-default.btn-lg
{
  text-align:left;
  font-size:16px;
}