  
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>People</h1>
    </div>
  </div>
</div>

<div class="page-header">
  <h1><%= @pageheader %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="caption"><%= @userpage.url %></div>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <img src="<%= @userpage.pageheader %>" alt="">
      </div>
    </div>
  </div>
</div>