  
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>People</h1>
    </div>
  </div>
</div>

<div class="page-header">
  <h1><%= @pageheader %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="caption"><%= @caption %></div>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <img src="<%= @url %>" alt="">
      </div>
    </div>
  </div>
</div>

<p>Archimedes was a Greek mathematician, physicist, engineer, inventor, and astronomer. He died in 212 B.C. at around the age of 75.</p>
<p><b>Location:</b>.Greece</p>
<p><b>Completion:</b></p>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><%= @progressbar %>
    95%
  </div>
</div>