<div class="container">
  <div class="row">
    <h2 class="edit-idea">Edit Your Idea</h2>
    <form action="/idea_notebook/update/<%=@idea.id%>">
      <div class="input-group">
        <div class="container">
          <input type="text" class="form-control" name="note" placeholder="Jot down your ideas here." value="<%=@idea.text%>" aria-describedby="basic-addon1">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <input type = "submit" class="form-control-submit" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </div>  
    </form>
  </div>
</div>