<div class="container">
  <div class="row">
    <form action="/idea_notebook/create">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <h2 class="edit-scientist">New Idea</h2>
            <h4>Idea</h4>
            <div class="input-group">
              <input id="user-input" type="text" class="form-control" name="idea" placeholder="Jot down your idea here." aria-describedby="basic-addon1">
              <input type="submit" class="btn btn-primary">
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </form>
  </div>
</div>