<h1>New Bookmark</h1>

<form action="/create_bookmark">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="url" placeholder="url">
  <input type="text" name="caption" placeholder="description">
  <input type="text" name="user_id" placeholder="enter a user id">
  <input type="submit">
</form>

